/* Measurements: */
/* body{
    overflow:hidden;
} */
/* div{
    height:100px;
    width: 300px;
    background-color: aqua; */
    /* overflow: hidden; */
    /* overflow:scroll; */
    /* overflow-x: scroll;
    overflow-y: hidden; */
    /* overflow:auto; */
    /* overflow: visible; */
/* } */
/* p{

    background-color: black;
    color:white;
    font-size: 25px;
    margin: 20px;
    padding: 20px; */
/* } */

/* Icons: */
/* .fa-x-twitter{
    height:50px;
    width: 50px;
    background-color: blue;
    color: chartreuse;
} */
/* .container{
    font-size:32px;
} */
/* ul{
    /* width:50%;
    height:50%; */
    /* background-color: red;
    width:50vw;
    height:50vh;

}
.container{
    width:100px;
    height:100px;
    background-color: aqua;
}
p{
    width: 60ch;
} */ 
.header{
   
    background-color: aqua;
    color: red;
    padding:30px;
    margin:20px;
    border: 5px solid black;
}
@media(max-width:200px){
    .header{
        background-color: blueviolet;
        color:black;
        padding:30px;
        margin:20px;
        border:5px solid yellow;
    }
}
